# UI / Streamlit
streamlit
streamlit-webrtc

# Core Audio Libraries
numpy
pandas
scipy
librosa
pydub

# TTS (Text-to-Speech)
gTTS

# Utility
qrcode
Pillow
fpdf
base64
urllib3

# AI / ML Libraries
# Resemblyzer (साधे PyPI इन्स्टॉल)
resemblyzer

# Whisper ASR
openai-whisper

# Core AI Dependencies (Removing fixed versions for compatibility)
umap-learn
numba
torch
torchaudio